// *{
//     margin: 0;
//     padding: 0;
// }

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    padding: 5vh;
}

// Header paragraph
.ph {
    color: whitesmoke;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.footer {
    text-align: center;
}

.custom-shape-divider-bottom-1699440958 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699440958 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1699440958 .shape-fill {
    fill: #FFFFFF;
}

.box {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue;
}

.animate__animated.animate__tada {
    --animate-duration: 3s;
}



//   for blue-black wavy divider
.custom-shape-divider-top-1699613240 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1699613240 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 432px;
}

.custom-shape-divider-top-1699613240 .shape-fill {
    fill: #2F104E;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1699613240 svg {
        width: calc(100% + 1.3px);
        height: 170px;
    }
}


// social media icons
.fa {
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}




//flex for paragraph
@media screen and (max-width: 2000px) {
    .writing {
    //    width: 50%;
    font-size: 35px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    }
 }
 @media screen and (max-width: 600px) {
    .writing {
    //    width: 100%;
    font-size: 25px;
    font-style: italic;
    font-family:  "Times New Roman", Times, serif;
    }
 }

//  feature
.single-feature {
	margin-bottom: 80px;
	margin-top: 40px;
}
.single-feature h5 {
	font-size: 16px;
}
.media-right-margin {
	margin-right:25px;
}
.single-feature p {
	font-size: 13px;
}
.icon-box h5 {
	margin-top:30px;
}
.icon-box p {
	color: #818992;
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
}
.icon-border {
}
.icon-border span {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	color: rgb(142, 30, 252);
	font-size: 18px;
	line-height: 50px;
	border: 1px solid rgb(142, 30, 252);
}
.section-padding {
	padding:80px 0px;
}
.sectioner-header {
	width:69%;
	margin:0 auto;
}
.line {
	height: 2px;
	width: 50px;
	background: #8e1efc;
	display: block;
	margin: 20px auto 20px;
}
.line::after {
	content:"";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed #8e1efc;
	margin-left: -75px;
}
.sectioner-header p {
	color:#818992;
	font-size: 17px;
}
.section-content {
	margin-top: 80px;
}






 //style="height: 400px; text-align: center; font-size: 30px; "