.checkbox-icon{
    font-size: 5px;
    width: 20px;
    height: 15px;
    accent-color: rgba(6, 105, 105, 0.435) !important;
}

.fontC{
    color:rgba(2, 66, 66, 0.939) ;
}

.profile{
    text-align: center;
}