.checkbox-icon{
    font-size: 5px;
    width: 20px;
    height: 15px;
    accent-color: rgba(6, 105, 105, 0.435) !important;
}

.fontC{
    color:rgba(2, 66, 66, 0.939) ;
}

.profile{
    text-align: center;
}

@media screen and (max-width: 2000px) {
    .writing {
    //    width: 50%;
    font-size: 35px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    }
 }
 @media screen and (max-width: 600px) {
    .writing {
    //    width: 100%;
    font-size: 25px;
   font-style: normal;
    font-family:  "Times New Roman", Times, serif;
    }
 }