<nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
    <div class="container-fluid">
        
        <!-- <a class="navbar-brand " href="#">
            <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
        </a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link  text-light" href="#">Logo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Entertainment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start  text-bg-dark " id="demo" style="width:320px;" >
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Heading</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <p>Some text </p>
        <p>Education</p>
        <p>Entertainment</p>
        <button class="btn btn-secondary" type="button">A Button</button>
    </div>
</div>

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Open Offcanvas Sidebar
</button> -->

<!-- d-lg-none
id="collapsibleNavbar" -->