<nav class="navbar navbar-expand-sm   fixed-top" style="background-color: purple;  background-image: linear-gradient(to right, rgb(81, 4, 81), rgb(174, 32, 103));">
    <div class="container-fluid">
        
        <a class="navbar-brand  fw-bolder border-end border-3 border-light pe-2 " style="color:whitesmoke;   font-family: Audiowide, sans-serif;" href="#">TUTORIAL 
             APP <span class="material-icons">local_library</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link  text-light" href="#"><span class="material-icons">local_library</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/content']" style="color:whitesmoke">Kid's Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']" style="color:whitesmoke" >Adult's Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/games']" style="color:whitesmoke" >Games</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start  text-bg-light " id="demo" style="width:320px;" data-bs-dismiss="offcanvas" >
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">TUTORIAL APP <span class="material-icons">local_library</span></h1>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <p class="border-bottom border-2 ph"  [routerLink]="['/content']">Kid's Tutorial </p>
        <p class="border-bottom border-2 ph" [routerLink]="['/login']">Adult's Tutorial</p>
        <p class="border-bottom border-2 ph" [routerLink]="['/games']">Games</p>
        <button class="btn btn-secondary" type="button" [routerLink]="['/']">Home</button>
    </div>
</div>

