/* Change the link color on hover */
li a:hover {
    background-color: #262710;
    color: white;
  }


  // offcanvas
//  .ph{
//   color: black;
//  }

 .ph:hover{
  background-color: rgb(87, 217, 113);
 }