<p class="pt-5 mt-5">content-page2 works!</p>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">school</mat-icon>
            Education
        </ng-template>
        <div class="container-fluid mt-3 row ps-4  ps-md-3">
            <h2>Welcome !!!</h2>
            <div class="ratio ratio-16x9 border border-5 border-white " style="width:540px" allowfullscreen>
                <iframe src="https://www.youtube-nocookie.com/embed/ZUc7VaOfo48?si=E8H7Mt8W-qWnHT9Z" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 border  border-5 border-white  " style="width:540px">
                <iframe src="https://www.youtube.com/embed/zmEv7vTOQGE?si=qgUctT7ucsVQswA2" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 border border-5 border-white" style="width:540px">
                <iframe src="https://www.youtube-nocookie.com/embed/hexfXc7-SsU?si=dZ2X0jWHwN1aZRWU" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 border border-5 border-white" style="width:540px">
                <iframe src="https://www.youtube-nocookie.com/embed/7i68cD70dEE?si=N-X4j86XeNkr_tOM" allowfullscreen></iframe>
            </div>

        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">movie</mat-icon>
            Entertainment
        </ng-template>
        <div class="container-fluid mt-3 row ps-4  ps-md-3">
            <h2>Welcome </h2>
            <div class="ratio ratio-16x9 border border-5 border-white " style="width:540px">
                <iframe src="https://www.youtube-nocookie.com/embed/GLK-mr8JmNY?si=XPTY-bIcJFBzj0wM" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 border  border-5 border-white  " style="width:540px">
                <iframe src="https://www.youtube-nocookie.com/embed/GibiNy4d4gc?si=eDBVfO5VjLbMmvjm" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 border border-5 border-white" style="width:540px">
                <iframe src="https://www.youtube.com/embed/gMp0SlkVU8w?si=m06nIphXga8TlCwx" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 border border-5 border-white" style="width:540px">
                <iframe src="https://www.youtube-nocookie.com/embed/ETdD0ffPwnw?si=Upau4F7ya6ZZikUm" allowfullscreen></iframe>
            </div>
            
        </div>
    </mat-tab>


</mat-tab-group>
